
html {
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom, #001b48, black);
    background-attachment: fixed;
    color: white !important;
}

.head{
    position: relative; /* Parent element needs relative positioning */
    display: inline-block
}

.head::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

    /* NAVBAR */

.bi-house-fill{
    color: white;
    transition: color 0.3s ease;
}

.bi-person-fill{
    position: relative;
    bottom: 3px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
    font-size: 23px;
}

.bi-folder-fill{
    position: relative;
    top: 1px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-tools{
    font-size: 17.5px;
    position: relative;
    top: 2.5px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-card-checklist{
    font-size: 22px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-person-lines-fill{
    font-size: 22px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.nav-icon:hover{
    color: #4881e3 !important;
}

.nav-link.active i{
    color: red;
}

.navbar{
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(50px);
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

    /* home-content */


.main-content{
    padding-top: 200px;
}

#about,#projects,#skills,#experience,#contact {
    padding-top: 50px;
}

.intro-content{
    padding-bottom: 122px;
}

.intro-title{
    animation: fadeInDown1 2s ease;
    
}

.intro-subtitle{
    animation: fadeInDown2 4s ease-in-out;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */
}

@keyframes fadeInDown1 {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(0) scale(.9);
    }
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(-30px);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.dp{
    position: absolute;
    bottom: 20px;
    right: 70px;
    max-height: 330px;
    width: 350px;
}

.intro {
    position: relative;
}

/* Contact Content */

.contact-head{
    font-size: 50px;
}

.contact-form{
    margin-top: 50px;
}

.contact-form button:hover{
    transform: translateY(-1px)
}

.contact-info{
    margin-top: 50px;
    color: #e3e2e2;

}

.form-control{
    background: rgba(255, 255, 255, 0.134) !important;
    border: none !important;
    box-shadow: none !important;
}

.form-control:focus{
    border: 1px solid white !important;
}

::placeholder{
    color: rgb(0, 0, 0) !important;
}

textarea{
    height: 130px;
}

.social-icons a i:hover{
    color: white !important;
}

/* Experience */

.card{
    background: rgba(255, 255, 255, 0.134) !important;

}