
html {
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom, #001b48, black);
    background-attachment: fixed;
    color: white !important;
}

.bi-house-fill{
    color: white;
    transition: color 0.3s ease;
}

.bi-folder-fill{
    position: relative;
    top: 1px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-tools{
    font-size: 17.5px;
    position: relative;
    top: 2.5px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-card-checklist{
    font-size: 22px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-person-lines-fill{
    font-size: 22px;
    margin-left: 15px;
    color: white;
    transition: color 0.3s ease;
}

.bi-house-fill:hover,.bi-folder-fill:hover,.bi-tools:hover,.bi-card-checklist:hover,.bi-person-lines-fill:hover{
    color: #4881e3 !important;
}

.nav-link.active i{
    color: rgb(255, 0, 0);
}

.navbar{
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.134);
    backdrop-filter: blur(50px);
    width: 25%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


